table td{
    max-width: 120px;
    background-color: #def1ff;
}
table td img{
    margin-top: 5px;
    width: 120px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.05);
}
table tbody{
    background-color: #f0f7fc;
}
.background{
    background-color: #f0f7fc;
}
.contactUs{
    width: 100%;
    height: 500px;
    background-color: #def1ff2b;
    margin-bottom: 10px;
}

.color-red{
    color: red;
}